textarea[name=input_thought] {
    resize: vertical;
    width: 100%;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

#toast-container {
    padding-top: 50px !important;
}